doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Status...
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='shortcut icon', href='https://nurlan.co/favicon.ico')
    link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')
    meta(name='author', content='nurlansu')
  body
    .table
      .table-cell
        h1 There are no problems!!!
